<div class="container">

    <h1>Konfigurator</h1>

    <div *ngIf="configuration" class="row flex-column-reverse flex-md-row">
        <div class="col-lg-8 col md-6">
            <h3>{{configuration.model.name}}</h3>
            <p>{{configuration.model.description}}</p>
        </div>
        <div class="col-lg-4 col md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ihre Konfiguration:</h5>
                    <div *ngIf="!priceSummary">Laden...</div>
                    <div *ngIf="priceSummary">
                        <table>
                            <tr>
                                <td>Basispreis:</td>
                                <td>{{ priceSummary.priceBase | number: '1.2' }} €</td>
                            </tr>
                            <tr>
                                <td>Optionen:</td>
                                <td>{{ priceSummary.priceOptions | number: '1.2' }} €</td>
                            </tr>
                            <tr>
                                <th class="align-text-bottom carconfigurator-price">Gesamtpreis:</th>
                                <td class="carconfigurator-price carconfigurator-price--total">{{ priceSummary.priceTotal | number: '1.2' }} €</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="configuration" class="row flex-column-reverse flex-md-row">
        <div class="col-lg-8 col md-6">

            <ng-container *ngIf="priceSummary">
                <h4>Ihre Auswahl</h4>

                <table *ngIf="priceSummary" class="car-configurator-summary table">
                    <tr>
                        <td>
                            <h5>Basis-Modell:</h5>
                            {{ configuration.model.name }}
                        </td>
                        <td class="price text-right">{{ priceSummary.priceBase | number: '1.2' }} €</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h6>Optionen:</h6>
                            <table class="table">
                                <tr *ngFor="let option of configuration.availableOptions">
                                    <td>
                                        <h6>{{ option.name}}</h6>
                                        {{ configuration.selectedOptionProducts[option.id].name }}
                                    </td>
                                    <td class="price text-right">
                                        {{ configuration.selectedOptionProducts[option.id].price | number: '1.2' }} €
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="total-price">
                        <td>Gesamt-Preis:</td>
                        <td class="price text-right">{{ priceSummary.priceTotal | number: '1.2' }} €</td>
                    </tr>
                </table>


                <button type="button" class="btn btn-success" (click)="orderCar($event)">Kostenpflichtig bestellen</button>

                <button type="button" class="btn btn-primary float-right" (click)="shareLink($event)">Link teilen</button>
            </ng-container>

        </div>
        <div class="col-lg-4 col md-6">

            <car-model-options [availableOptions]="configuration.availableOptions" [value]="configuration.selectedOptionProducts" (valueChange)="configurationChanged($event)"></car-model-options>

        </div>
    </div>
</div>
