@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="ts-example"></div>
</div>


<!--<link href="/app.js" rel="preload" as="script"></head>-->

<div id="app"></div>
<environment include="Development">
    <script type="text/javascript" src="~/js/carconfigurator/app.js"></script>
</environment>
<environment include="Production">
    <script type="text/javascript" src="~/js/carconfigurator/app.min.js"></script>
</environment>