<div class="container">
  <h1>Unsere Modelle</h1>

  <p>Hier findest Du unsere neuesten Modelle. Wähle eines aus, um eine passende Konfiguration zu wählen.</p>

  <div class="row">
    <div *ngFor="let carModel of carModels" class="col-md-6">
      <div class="card">
        <div class="card-body">

          <a class="stretched-link" [routerLink]="['/configure', getUrlPartNameOf(carModel.name)]">
            <h5 class="card-title">{{ carModel.name }}</h5>
          </a>
          <h6 class="card-subtitle mb-2 text-muted">{{ carModel.description }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
